<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <h1>Flat1</h1>
    <div class="flats">
        <img src="../static/images/flat1/DSC_6861.JPG" alt="flat1">
        <img src="../static/images/flat2/20180923_184417.jpg" alt="flat2">
    </div>
</body>
</html>